.price {
    padding-bottom: 80px;

    text-align: center;

    /* Mobile */
    @media (max-width: 899px) {
        padding-bottom: 60px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding-bottom: 40px;
    }
}

.price__title {
    margin-bottom: 40px;

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 25px;
    }
}

.price__desc {
    max-width: 754px;
    margin: 0 auto;
    margin-bottom: 60px;

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 40px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 20px;
    }
}

.price__img {
    margin-bottom: 40px;

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 20px;
    }
}

.price__cta {
    width: 950px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px 0 54px;

    border: 4px solid $primeryColor;

    /* Tablet */
    @media (max-width: 1169px) {
        width: 870px;
        padding: 40px 0;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 570px;
        padding: 30px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
    }
}
