.button {
    display: inline-block;
    height: 50px;
    padding: 0 28px;

    background-color: $accentColor;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
}